* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../image/visacard1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.label-style {
  position: absolute;
  top: -8px;
  left: 12px;
  background-color: #ffffff;
  padding: 0 6px;
  font-size: 11px;
  color: #999999;
  z-index: 1;
}
.btn:hover {
  text-decoration: underline;
}
.btn.btn-success:hover {
  text-decoration: none;
}
